@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #__next {
    height: 100vh;
  }
  body {
    @apply bg-[#FCDE67] text-[#1c1c1c] scroll-smooth;
    font-family: 'Montserrat', sans-serif;
  }
  .text-shadow {
    text-shadow: 0.4px 0.4px grey;
  }
  input {
    @apply text-[#1c1c1c] font-medium tracking-wide rounded-full py-[.3em] indent-4;
  }
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
}
