@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #__next {
    height: 94.5%;
  }
  html {
    height: 100%;
    padding: 0;
    margin: 0;
  }
  body {
    font-family: 'Montserrat', sans-serif;
    background: rgb(9, 117, 241);
    background: linear-gradient(22deg, #0a56adcc 2%, #36454f 54%);
    height: 100%;
  }
  .scrollbar::-webkit-scrollbar {
    width: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: #0a56adcc;
  }

  input {
    @apply text-[#1c1c1c] font-medium tracking-wide rounded-full py-[.3em] indent-4;
  }
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
}
